@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "silentmist";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(20% 0 0);
    color-primary: oklch(77% 0.152 181.912);
    --color-primary-content: oklch(27% 0.046 192.524);
    --color-secondary: oklch(75% 0.183 55.934);
    --color-secondary-content: oklch(26% 0.079 36.259);
    --color-accent: oklch(70% 0.165 254.624);
    --color-accent-content: oklch(28% 0.091 267.935);
    --color-neutral: oklch(37% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(59% 0.145 163.225);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
  }

  @media (max-width: 412) {
    .navbar-start{
      display: none;
    }
  }
